@import "tailwindcss";

html, body {
  height: 100%;
}
body {
 direction: rtl;
 text-align: right;
 font-family: var(--font-vazir) , sans-serif;
 

}
.lalezar{
  font-family: var(--font-lalezar) , sans-serif;
}
